:host {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.mat-toolbar {
  justify-content: space-between;
}

@media screen and (max-width: 900px) {
  .backend {
    visibility: hidden;
    display: none;
  }
}
