.settings-form {
  margin-top: 20px;
  min-width: 60px;
  max-width: 500px;
  width: 30%;

}

.settings-full-width {
  width: 100%;
}

.settings-general-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
