<h2 mat-dialog-title>{{title}}</h2>
<mat-dialog-content>
  <mat-form-field class="full-width">
    <mat-label>Value</mat-label>
    <input [(ngModel)]="voucher.value" matInput required type="number"/>
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>User</mat-label>
    <input [(ngModel)]="voucher.user" matInput required type="text"/>
    <!-- TODO: Add search-by-user input -->
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button cdkFocusInitial mat-dialog-close mat-raised-button>Close</button>
  <!-- TODO: Add validation -->
  <!-- <button (click)="create()" [disabled]=invalid() color="primary" mat-raised-button>Create -->
  <button (click)="create()" color="primary" mat-raised-button>Create
  </button>
</mat-dialog-actions>
