<h3 mat-dialog-title>Cash movement</h3>
<mat-dialog-content class="vertical-content">
    <mat-form-field>
        <mat-label>Type</mat-label>
        <mat-select [formControl]="type">
            <mat-option [value]="MovementTypes.DEPOSIT">Deposit</mat-option>
            <mat-option [value]="MovementTypes.WITHDRAWAL">Withdrawal</mat-option>
        </mat-select>
        <mat-error *ngIf="type.errors?.['required']">Type is required</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field>
        <mat-label>Amount</mat-label>
        <input [formControl]="amount" matInput required type="number"/>
        <mat-error *ngIf="amount.errors?.['required']">Amount is required</mat-error>
        <mat-error *ngIf="amount.errors?.['min']">Minimum value is {{ amount.errors['min']['min'] }}</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field>
        <mat-label>Comment</mat-label>
        <input [formControl]="comment" (keyup)="trimComment()"  matInput required/>
        <mat-error *ngIf="comment.errors?.['required']">Comment is required</mat-error>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-dialog-close mat-raised-button>Cancel</button>
    <button (click)="close()" color="primary" mat-raised-button [disabled]="!(amount.valid && comment.valid)">
        <mat-icon>account_balance_wallet</mat-icon>
        <span>Cash movement</span>
    </button>
</mat-dialog-actions>
