<h2 mat-dialog-title>Size Family Creation</h2>
<mat-dialog-content>
  <mat-form-field style="width: 100%">
    <mat-label>Barcode</mat-label>
    <input [(ngModel)]="article.barcode"  matInput required type="text"/>
  </mat-form-field>
  <mat-form-field style="width: 100%">
    <mat-label>Description</mat-label>
    <input [(ngModel)]="article.description" matInput required type="text" />
  </mat-form-field>
  <app-search-by-company [(company)]="article.providerCompany"></app-search-by-company>
  <mat-form-field style="width: 25%; margin-right: 10px">
    <mat-label>Price</mat-label>
    <input [(ngModel)]="article.retailPrice" matInput required type="number">
  </mat-form-field>
  <mat-form-field style="width: 25%; margin-right: 10px">
    <mat-label>IVA</mat-label>
    <mat-select [(ngModel)]="article.tax">
      <mat-option *ngFor="let tax of taxValues" [value]="tax">
        {{tax}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>
<mat-radio-group aria-label="Select an option" class="size-type">
  <div class="size-wrapper">
    <mat-radio-button value="1">Numbers</mat-radio-button>
    <mat-form-field style="margin-left: 10px; width: 15%;">
      <mat-label>Min</mat-label>
      <input matInput type="number" oninput="if(value>60)value=60;if(value<0)value=0" [(ngModel)]="form.min"/>
    </mat-form-field>
    <mat-form-field style="margin-left: 10px; width: 15%;">
      <mat-label>Max</mat-label>
      <input matInput type="number" oninput="if(value>60)value=60;if(value<0)value=0" [(ngModel)]="form.max" />
    </mat-form-field>
    <div style="margin-left: 10px; width: 30%; display: flex;">
      <mat-form-field style="margin-left: 10px; width: 40%;">
        <input matInput type="number" [(ngModel)]="form.addNumber" />
      </mat-form-field>
      <button mat-mini-fab color="primary" (click)="handleClickAddNumber()">+{{form.addNumber}}</button>
    </div>
  </div>
  <div class="size-wrapper">
    <mat-radio-button value="2">Letters</mat-radio-button>
    <mat-form-field style="width: 30%; margin-left: 15px;">
      <mat-label>Min</mat-label>
      <mat-select [(ngModel)]="form.letterMin">
        <mat-option *ngFor="let letter of letterOptions" [value]="letter">{{ letter }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field style="width: 30%; margin-left: 15px;">
      <mat-label>Max</mat-label>
      <mat-select [(ngModel)]="form.letterMax">
        <mat-option *ngFor="let letter of letterOptions" [value]="letter">{{ letter }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</mat-radio-group>
<div mat-dialog-actions>
  <button mat-dialog-close mat-raised-button>Close</button>
  <button (click)="create()"  [disabled]=invalid() color="primary" mat-raised-button>Create
  </button>
</div>


