<h4 mat-dialog-title>{{title}}</h4>
<mat-dialog-content>
  <mat-form-field class="full-width">
    <mat-label>Barcode</mat-label>
    <input [(ngModel)]="article.barcode" id="company" matInput required type="text"/>
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>Description</mat-label>
    <input [(ngModel)]="article.description" matInput required type="text"/>
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>Retail Price</mat-label>
    <input [(ngModel)]="article.retailPrice" matInput required type="number">
    <mat-hint>9 digits</mat-hint>
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>Reference</mat-label>
    <input [(ngModel)]="article.reference" matInput type="email">
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>Stock</mat-label>
    <input [(ngModel)]="article.stock" matInput type="number"/>
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>Tax</mat-label>
    <mat-select [(ngModel)]="article.tax">
      <mat-option *ngFor="let tax of taxValues" [value]="tax">
        {{tax}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-slide-toggle [(ngModel)]="article.discontinued">Discontinued</mat-slide-toggle>
  <mat-form-field *ngIf="article.registrationDate" class="full-width">
    <mat-label>Registration Date</mat-label>
    <input [(ngModel)]="article.registrationDate" matInput readonly type="text"/>
  </mat-form-field>
  <app-search-by-company [(company)]="article.providerCompany" class="full-width"></app-search-by-company>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-dialog-close mat-raised-button>Close</button>
  <button (click)="create()" *ngIf="isCreate()" [disabled]=invalid() color="primary" mat-raised-button>Create
  </button>
  <button (click)="update()" *ngIf="!isCreate()" [disabled]=invalid() color="primary" mat-raised-button>Update
  </button>
</mat-dialog-actions>
