<h2 mat-dialog-title>{{ title }}</h2>

<mat-dialog-content class="dialog-content">
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>User</mat-label>
    <mat-icon matPrefix>person</mat-icon>
    <mat-select [(ngModel)]="rgpdDto.userName" required panelClass="mat-select-dropdown" [disabled]="!!data">
      <mat-option *ngIf="!!data" [value]="rgpdDto.userName">
        {{ rgpdDto.userName }} ({{ rgpdDto.userMobile }})
      </mat-option>
      <mat-option
        *ngFor="let user of users$ | async"
        [value]="user.name"
        (click)="rgpdDto.userMobile = user.mobile.toString()"
      >
        {{ user.name }} ({{ user.mobile }})
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Agreement Type</mat-label>
    <mat-select [(ngModel)]="rgpdDto.rgpdType">
      <mat-option *ngFor="let type of rgpdTypes" [value]="type">
        {{ type }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="file-upload">
    <label for="fileInput" class="file-label"> <mat-icon>attach_file</mat-icon> Upload Agreement </label>
    <input type="file" id="fileInput" (change)="onFileSelected($event)" accept=".pdf" />
    <!-- [disabled]="!rgpdDto.userName || !rgpdDto.userMobile" -->

    <div *ngIf="fileName" class="file-info"><mat-icon>description</mat-icon> {{ fileName }}</div>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="close()">Cancel</button>
  <button mat-button color="primary" (click)="save()" [disabled]="!isSaveEnabled()">Save</button>
</mat-dialog-actions>
