<h2 mat-dialog-title>{{ title }}</h2>

<mat-dialog-content class="dialog-content">
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>User</mat-label>
    <mat-icon matPrefix>person</mat-icon>
    <mat-select [(ngModel)]="RgpdDto.userName" required panelClass="mat-select-dropdown" [disabled]="!!data">
      <mat-option *ngIf="!!data" [value]="RgpdDto.userName">
        {{ RgpdDto.userName }} ({{ RgpdDto.userMobile }})
      </mat-option>
      <mat-option *ngFor="let user of users$ | async" [value]="user.name" (click)="RgpdDto.userMobile = user.mobile">
        {{ user.name }} ({{ user.mobile }})
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Agreement Type</mat-label>
    <mat-select [(ngModel)]="RgpdDto.type">
      <mat-option *ngFor="let type of rgpdTypes" [value]="type">{{ type }}</mat-option>
    </mat-select>
  </mat-form-field>

  <div class="file-upload">
    <label for="fileInput">Upload Agreement</label>
    <input
      type="file"
      id="fileInput"
      (change)="onFileSelected($event)"
      [disabled]="!RgpdDto.userName || !RgpdDto.userMobile"
    />

    <div *ngIf="fileName || existingFileName" class="file-info">
      <mat-icon>attach_file</mat-icon> {{ fileName || existingFileName }}
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="close()">Cancel</button>
  <button mat-button color="primary" (click)="createOrUpdate()" [disabled]="!isSaveEnabled()">Save</button>
</mat-dialog-actions>
