<mat-card>
  <mat-card-content>
    <mat-label><strong>Filters: </strong></mat-label>
    <mat-form-field>
      <mat-label>User</mat-label>
      <input [(ngModel)]="rgpdSearch.user" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Type</mat-label>
      <input [(ngModel)]="rgpdSearch.type" matInput>
    </mat-form-field>
    <button (click)="search()" mat-button mat-icon-button matSuffix>
      <mat-icon color="warn">search</mat-icon>
    </button>
    <button (click)="resetSearch()" mat-icon-button>
      <mat-icon>close</mat-icon>
    </button>
    <button (click)="downloadFile()" mat-button>
      <mat-icon>file_download</mat-icon> Descargar Fichero
    </button>

  </mat-card-content>
</mat-card>
<app-crud (create)="create()" (read)="read($event)" (update)="update($event)"
          [data]="rgpds" [deleteAction]="true" (delete)="delete($event)" [title]="title"></app-crud>
