<div class="container">
  <mat-card class="audit-card">
    <div class="audit-header">
      <mat-card-title>Stock Audit Details</mat-card-title>
      <div class="audit-actions">
        @if (stockAudit.closeDate == null) {
          <button  mat-flat-button (click)="closeAudit()">Close Audit</button>
        }
        @else {
          <button mat-flat-button (click)="updateAudit()">Update Audit</button>
        }
      </div>
    </div>

    <mat-card-content>
      <p><strong>ID:</strong> {{ stockAudit.id }}</p>
      <p>
        <strong>Creation Date:</strong>
        {{ stockAudit.creationDate}}
      </p>
      <p>
        <strong>Close Date:</strong>
        {{ stockAudit.closeDate}}
      </p>
      <p><strong>Loss Value:</strong> {{ stockAudit.lossValue | currency: 'EUR' }}</p>
      @if (stockAudit.closeDate != null) {
      <h3>Articles Without Audit</h3>
      <table mat-table [dataSource]="stockAudit.articlesWithoutAudit" class="mat-elevation-z8">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Barcode</th>
          <td mat-cell *matCellDef="let article">{{ article.barcode }}</td>
        </ng-container>

        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef>Stock</th>
          <td mat-cell *matCellDef="let article">{{ article.stock }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['name', 'quantity']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['name', 'quantity']"></tr>
      </table>

      <h3>Losses Article</h3>
      <table mat-table [dataSource]="stockAudit.losses" class="mat-elevation-z8">
        <ng-container matColumnDef="articleName">
          <th mat-header-cell *matHeaderCellDef>Barcode</th>
          <td mat-cell *matCellDef="let loss">{{ loss.barcode }}</td>
        </ng-container>

        <ng-container matColumnDef="lostQuantity">
          <th mat-header-cell *matHeaderCellDef>Amount</th>
          <td mat-cell *matCellDef="let loss">{{ loss.amount }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['articleName', 'lostQuantity']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['articleName', 'lostQuantity']"></tr>
      </table>
      }
    </mat-card-content>
  </mat-card>
</div>