<mat-card>
    <mat-card-title>
        <mat-icon>search</mat-icon>
        Filters
    </mat-card-title>
    <mat-card-content>
        <app-filter-input [(value)]="voucherSearch.startDate" title="From" type="date"></app-filter-input>
        <app-filter-input [(value)]="voucherSearch.endDate" title="To" type="date"></app-filter-input>
        <app-filter-input [(value)]="voucherSearch.consumed" title="Is Consumed? (true/false)"></app-filter-input>
        <button (click)="search()" mat-stroked-button>
            <mat-icon>search</mat-icon>
            Find
        </button>
    </mat-card-content>
</mat-card>

<app-crud (create)="create()" (read)="read($event)" (print)="print($event)"
          [data]="vouchers" [deleteAction]="false" [printAction]="true" [updateAction]="false" [title]="title"></app-crud>