:host {
  display: block;
}


.full-width {
  width: 100%;
  margin-bottom: 16px;
}

mat-dialog-content {
  min-width: 350px;
  padding-top: 10px;
}

mat-dialog-actions {
  padding: 16px 0;
}

textarea {
  resize: none;
}
