<mat-card>
    <mat-card-title>
        <mat-icon>search</mat-icon>
        Filters
    </mat-card-title>
    <mat-card-content>
        <app-filter-input [(value)]="articleSearch.barcode" title="Barcode"></app-filter-input>
        <app-filter-input [(value)]="articleSearch.description" title="Description"></app-filter-input>
        <app-filter-input [(value)]="articleSearch.reference" title="Reference"></app-filter-input>
        <app-filter-input [(value)]="articleSearch.stock" title="Stock Less than" type="number"></app-filter-input>
        <mat-slide-toggle [(ngModel)]="articleSearch.discontinued">Discontinued</mat-slide-toggle>
        <button (click)="search()" mat-stroked-button>
            <mat-icon>search</mat-icon>
            Find
        </button>
        <button (click)="unfinished()" mat-stroked-button>
            <mat-icon>search</mat-icon>
            Unfinished
        </button>
    </mat-card-content>
</mat-card>

<app-crud (create)="create()" (read)="read($event)" (update)="update($event)"
          [data]="articles" [deleteAction]="false" [title]="title"></app-crud>
