<mat-card>
    <mat-card-title>
        <mat-icon>search</mat-icon>
        Filters
    </mat-card-title>
    <mat-card-content>
        <app-filter-input title = "Barcode" [(value)]="articleSearch.barcode"></app-filter-input>
        <app-filter-input title = "Description" [(value)]="articleSearch.description"></app-filter-input>
        <app-filter-input title = "Reference" [(value)]="articleSearch.reference"></app-filter-input>
        <app-filter-input title = "Stock" [(value)]="articleSearch.stock" type="number"></app-filter-input>
        <mat-slide-toggle [(ngModel)]="articleSearch.discontinued">Discontinued</mat-slide-toggle>
        <button (click)="search()" mat-stroked-button>
            <mat-icon>search</mat-icon>
            Find
        </button>
        <button (click)="unfinished()" mat-stroked-button>
            <mat-icon>search</mat-icon>
            Unfinished
        </button>
    </mat-card-content>
</mat-card>

<app-crud (create)="create()" (read)="read($event)" (update)="update($event)"
          [data]="articles" [deleteAction]="false" [title]="title"></app-crud>
