<div class="container">
    <button mat-fab extended (click)="setCurrentMonth()">Current month</button>
    <mat-form-field>
        <mat-label>Select a month</mat-label>
        <input matInput [matDatepicker]="datepicker" [formControl]="date">
        <mat-datepicker-toggle mat-icon-button matSuffix [for]="datepicker">
            <mat-icon>calendar</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #datepicker
                        startView="multi-year"
                        (monthSelected)="setMonthAndYear($event, datepicker)"
                        panelClass="example-month-picker">
        </mat-datepicker>
    </mat-form-field>
</div>

