<mat-card>
    <mat-card-title>Display cashier closure history of:</mat-card-title>
    <mat-card-content>
        <div class="container">
            <app-year-picker (valueChanged)="updateDataset($event)"></app-year-picker>
            <div class="spacer"></div>
            <app-month-picker (valueChanged)="updateDataset($event)"></app-month-picker>
        </div>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-title>
        Total sales of period: {{ total | async | currency:'EUR':'symbol' }}
    </mat-card-title>
    <mat-card-content>
        <mat-table [dataSource]="cashierClosures" class="mat-elevation-z8">
            <ng-container matColumnDef="cardSales">
                <mat-header-cell *matHeaderCellDef> Card sales</mat-header-cell>
                <mat-cell *matCellDef="let item"> {{ item.cardSales | currency:'EUR':'symbol' }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="cashSales">
                <mat-header-cell *matHeaderCellDef> Cash sales</mat-header-cell>
                <mat-cell *matCellDef="let item"> {{ item.cashSales | currency:'EUR':'symbol' }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="deposit">
                <mat-header-cell *matHeaderCellDef> Deposit</mat-header-cell>
                <mat-cell *matCellDef="let item"> {{ item.deposit | currency:'EUR':'symbol' }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="withdrawal">
                <mat-header-cell *matHeaderCellDef> Withdrawal</mat-header-cell>
                <mat-cell *matCellDef="let item"> {{ item.withdrawal | currency:'EUR':'symbol' }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="finalCash">
                <mat-header-cell *matHeaderCellDef> Final cash</mat-header-cell>
                <mat-cell *matCellDef="let item"> {{ item.finalCash | currency:'EUR':'symbol' }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="comment">
                <mat-header-cell *matHeaderCellDef> Comment</mat-header-cell>
                <mat-cell *matCellDef="let item">{{ item.comment }}</mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
    </mat-card-content>
</mat-card>