<h4 mat-dialog-title>{{ title }}</h4>
<mat-dialog-content>
    <mat-form-field class="full-width">
        <mat-label>Reference</mat-label>
        <input [(ngModel)]="order.reference" matInput type="text">
    </mat-form-field>
    <mat-form-field class="full-width">
        <mat-label>Description</mat-label>
        <input [(ngModel)]="order.description" matInput required type="text"/>
    </mat-form-field> 
    <app-search-by-company [(company)]="order.providerCompany" (companyChange)="onCompanyChange()" class="full-width"></app-search-by-company>
    <div *ngIf="order.orderLines.length > 0">
        <div *ngFor="let orderLine of order.orderLines">
            <mat-form-field class="full-width">
                <mat-label>{{ orderLine.articleBarcode }}</mat-label>
                <input [(ngModel)]="orderLine.requiredAmount" matInput type="number" min="0" step="1"/>
            </mat-form-field>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-dialog-close mat-raised-button>Close</button>
    <button (click)="create()" [disabled]=invalid() color="primary" mat-raised-button>Create
    </button>
<!--     <button (click)="update()" *ngIf="!isCreate()" [disabled]=invalid() color="primary" mat-raised-button>Update
    </button> -->
</mat-dialog-actions>
