.container {
    display: flex;
    flex-direction: row;
    max-height: 500px;
    min-width: 300px;
}

.mat-cell {
    overflow: visible;
}

.mat-table {
    overflow: auto;
    max-height: 600px;
}

.mat-column- {
    display: flex;
    justify-content: flex-end;
}

.mat-dialog-content {
    display: flex;
    flex-direction: column;
}
