.staff-container {
  padding: 10px 60px;
}

table.mat-table {
  margin-bottom: 40px;
}

table.mat-table td.mat-cell,
table.mat-table th.mat-header-cell {
  padding-right: 20px;
}

.functionality-container {
  display: flex;
  flex-direction: column;
}

.d-flex {
  display: flex;
  align-items: center;
}

.employee-input {
  max-width: 60px;
}

form {
  display: flex;
  flex-direction: row;
}


.mat-datepicker-toggle {
  margin-left: auto;
}

button {
  margin: 10px;
  display: flex;
  justify-content: center;
}
