.custom-dialog-container {
    border-radius: 12px;
    padding: 16px;
    background: white;
}

.dialog-content {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.details {
    background: #f8f9fa;
    padding: 12px;
    border-radius: 8px;
}

.title {
    font-size: 20px;
    font-weight: bold;
}

mat-divider {
    margin: 10px 0;
}
