<h2 mat-dialog-title>{{title}}</h2>
<mat-dialog-content>
<div>
  <h3>Choice Ticket</h3>
  <div>
    <mat-card>
      <mat-card-content>
        <mat-form-field>
          <mat-label>Ticket reference</mat-label>
          <input matInput [(ngModel)]="search.ticketReference" (keyup)="searchByTicket()">
        </mat-form-field>
        <mat-form-field>
          <mat-label>User mobile</mat-label>
          <input matInput [(ngModel)]="search.mobile" (keyup)="searchByMobile()">
        </mat-form-field>
      </mat-card-content>
    </mat-card>
  </div>

  <mat-list>
    <mat-radio-group [(ngModel)]="ticketSelected">
      <mat-list-item *ngFor="let ticket of ticketList">
        <mat-radio-button [value]="ticket">
          {{ticket}}
        </mat-radio-button>
      </mat-list-item>
    </mat-radio-group>

  </mat-list>
</div>
</mat-dialog-content>

<mat-dialog-actions>
  <button cdkFocusInitial mat-dialog-close mat-raised-button>Close</button>
  <button (click)="create()" *ngIf="isCreate()" [disabled]=invalid() color="primary" mat-raised-button>Create
  </button>
</mat-dialog-actions>
