<mat-divider></mat-divider>
<mat-toolbar>
  <span>Filters</span>
  <mat-icon>search</mat-icon>
</mat-toolbar>

<div class="container">
  <mat-form-field appearance="outline">
    <mat-label>Outline form field</mat-label>
    <input matInput placeholder="Placeholder" />
    <mat-icon matSuffix>delete</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Outline form field</mat-label>
    <input matInput placeholder="Placeholder" />
    <mat-icon matSuffix>delete</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Outline form field</mat-label>
    <input matInput placeholder="Placeholder" />
    <mat-icon matSuffix>delete</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Outline form field</mat-label>
    <input matInput placeholder="Placeholder" />
    <mat-icon matSuffix>delete</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Outline form field</mat-label>
    <input matInput placeholder="Placeholder" />
    <mat-icon matSuffix>delete</mat-icon>
  </mat-form-field>
</div>
