<h2 mat-dialog-title>{{title}}</h2>
<mat-dialog-content>
  <mat-form-field>
    <mat-label>Theoretical stock</mat-label>
    <input matInput required type="number" [value]="article.stock" disabled/>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Real stock</mat-label>
    <input matInput required type="number" [value]="realStock"/>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button cdkFocusInitial mat-dialog-close mat-raised-button>
    Close
  </button>
  <button color="primary" mat-raised-button>
    Audit
  </button>
</mat-dialog-actions>

