.mat-dialog-content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  height: 100%;
}

mat-form-field {
  width: 100%;
}

mat-label {
  display: block;
  margin-bottom: 8px;
}
