.ticket-tracking-product {
  margin: 5px;
}

.COMMITTED {
  color: darkseagreen;
}

.NOT_COMMITTED {
  color: cornflowerblue;
}

.REQUIRE_PROVIDER {
  color: indianred;
}

.IN_STOCK {
  color: yellow;
}
