<h4 mat-dialog-title>{{ title }}</h4>
<mat-dialog-content>
    <mat-form-field class="full-width">
        <mat-label>User name</mat-label>
        <input [(ngModel)]="invoice.user.name" matInput type="text">
    </mat-form-field>
    <div>

    </div>
    <mat-form-field class="full-width">
        <mat-label>User mobile</mat-label>
        <input [(ngModel)]="invoice.user.mobile" matInput type="text"/>
    </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions>
    <button mat-dialog-close mat-raised-button>Close</button>
    <button color="primary" mat-raised-button>Update</button>
</mat-dialog-actions>
