.reviews-container {
    width: 60%;
    margin: 30px auto;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: #f4f4f4;
}

mat-icon {
    cursor: pointer;
    color: lightgray;
    transition: color 0.3s;
}

mat-icon.selected {
    color: gold;
}

.pedido-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pedido-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.pedido-text {
    text-align: left;
}

.pedido-text > strong {
    font-size: 14px;
    display: block;
    margin-bottom: 4px;
}

.pedido-text > p {
    font-size: 12px;
    margin: 0;
    color: #666;
}
