<mat-dialog-content>
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name" type="text">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Description</mat-label>
        <input matInput placeholder="Descripcion" type="text">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Warning</mat-label>
        <input matInput placeholder="Warning" type="number">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Critical</mat-label>
        <input matInput placeholder="Critical" type="number">
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button (click)="onCreate()">Submit</button>
</mat-dialog-actions>