<mat-card>
    <mat-card-title>
        <mat-icon>search</mat-icon>
        Filters
    </mat-card-title>
    <mat-card-content>
        <app-filter-input title="Company" [(value)]="providerSearch.company"></app-filter-input>
        <app-filter-input title="Phone" [(value)]="providerSearch.phone"></app-filter-input>
        <app-filter-input title="Note" [(value)]="providerSearch.note"></app-filter-input>
        <button (click)="search()" mat-stroked-button>
            <mat-icon>search</mat-icon>
            Find
        </button>
    </mat-card-content>
</mat-card>
<app-crud (create)="create()" (read)="read($event)" (update)="update($event)"
          [data]="providers" [title]="title"></app-crud>
