<h4 mat-dialog-title>{{ title }}</h4>
<p mat-dialog-content *ngIf="isCreate()">The reference will be generated automatically</p>
<p mat-dialog-content *ngIf="!isCreate()"><strong>Reference: {{ offer.reference }}</strong></p>
<mat-dialog-content>
    <mat-form-field class="full-width">
        <mat-label>Description</mat-label>
        <input [(ngModel)]="offer.description" matInput required type="text"/>
    </mat-form-field>
    <mat-form-field class="full-width">
        <mat-label>Creation date</mat-label>
        <input [(ngModel)]="offer.creationDate" matInput type="date">
    </mat-form-field>
    <mat-form-field class="full-width">
        <mat-label>Expiry date</mat-label>
        <input [(ngModel)]="offer.expiryDate" matInput type="date">
        <mat-hint>Expiry date must be later than creation date</mat-hint>
    </mat-form-field>
    <mat-form-field class="full-width">
        <mat-label>Discount</mat-label>
        <mat-hint>Value between 0 and 100</mat-hint>
        <input [(ngModel)]="offer.discount" matInput required type="number" min="0" max="100"/>
    </mat-form-field>
    <div class="dialog-container">
        <app-search-by-barcode (add)="addArticle($event)"></app-search-by-barcode>
        <mat-card>
            <mat-card-content>
                <mat-list>
                    <mat-list-item *ngFor="let article of offer.articleList">
                        <button mat-icon-button color="warn" (click)="removeArticle(article)">
                            <mat-icon>delete</mat-icon>
                        </button>
                        {{ article.barcode }} - {{ article.description }}
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-dialog-close mat-raised-button>Close</button>
    <button (click)="create()" *ngIf="isCreate()" [disabled]=invalid() color="primary" mat-raised-button>Create
    </button>
    <button (click)="update()" *ngIf="!isCreate()" [disabled]=invalid() color="primary" mat-raised-button>Update
    </button>
</mat-dialog-actions>