<h2 mat-dialog-title>Update Complaint</h2>
<mat-dialog-content>
    <mat-form-field class="full-width">
        <mat-label>Barcode</mat-label>
        <input [(ngModel)]="complaint.barcode" matInput required type="text"/>
    </mat-form-field>
    <mat-form-field class="full-width">
        <mat-label>Description</mat-label>
        <input [(ngModel)]="complaint.description" matInput required type="text"/>
    </mat-form-field>
    <mat-form-field class="full-width">
        <mat-label>Mobile</mat-label>
        <input [(ngModel)]="complaint.mobile" matInput disabled required type="text"/>
    </mat-form-field>
    <mat-form-field class="full-width">
        <mat-label>Registration Date</mat-label>
        <input [(ngModel)]="complaint.registrationDate" matInput disabled required type="text"/>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-dialog-close mat-raised-button>Close</button>
    <button (click)="update()" [disabled]=invalid() color="primary" mat-raised-button>Update
    </button>
</mat-dialog-actions>
