<h2 mat-dialog-title>Create Complaint</h2>

<mat-dialog-content>
    <app-barcodes-by-userlogged (add)="addBarcode($event)">

    </app-barcodes-by-userlogged>
    <mat-form-field class="full-width">
        <mat-label>Description</mat-label>
        <input [(ngModel)]="complaintCreation.description" matInput required type="text"/>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-dialog-close mat-raised-button>Close</button>
    <button (click)="create()" [disabled]=invalid() color="primary" mat-raised-button>Create
    </button>
</mat-dialog-actions>
