<h2 mat-dialog-title>Update Complaint</h2>
<mat-dialog-content>
    <app-search-by-barcode></app-search-by-barcode>
    <mat-form-field class="full-width">
        <mat-label>Description</mat-label>
        <input [(ngModel)]="complaint.description" matInput required type="text"/>
    </mat-form-field>

</mat-dialog-content>
<mat-dialog-actions>
    <button mat-dialog-close mat-raised-button>Close</button>
    <button (click)="update()" [disabled]=invalid() color="primary" mat-raised-button>Update
    </button>
</mat-dialog-actions>
