<mat-divider></mat-divider>
<mat-toolbar>
    <span>Filters</span>
    <mat-icon>search</mat-icon>
</mat-toolbar>

<div class="container">
    <app-filter-input [(value)]="invoiceSearch.ticketId" title="Ticket ID"></app-filter-input>
    <button (click)="searchByTicketId()" mat-stroked-button [disabled]="!invoiceSearch.ticketId">
        <mat-icon>search</mat-icon>
        Find ticket
    </button>

    <app-filter-input [(value)]="invoiceSearch.mobile"  title="User mobile"></app-filter-input>
    <button (click)="searchByUserMobile()"  mat-stroked-button [disabled]="!invoiceSearch.mobile">
        <mat-icon>search</mat-icon>
        Find mobile
    </button>

    <button (click)="resetSearch()" mat-stroked-button>
        <mat-icon>clear</mat-icon>
        Reset
    </button>
</div>
<app-crud (create)="create()" (read)="read($event)" (update)="update($event)" (print)="downloadInvoice($event)"  [deleteAction]="false" [data]="invoices" [printAction]="true" [title]="title"></app-crud>
