<mat-card>
  <mat-card-content>
    <button mat-raised-button color="primary" class="form-field-spacing"
            (click)="readAll()">
      Current month
    </button>
    <button mat-raised-button color="primary" class="form-field-spacing"
            (click)="readClosed()">
      Current year
    </button>
    <br>
  </mat-card-content>

  <mat-card-content>
    <mat-label><strong>Filters: </strong></mat-label>
    <mat-form-field>
      <mat-label>Month</mat-label>
      <input [(ngModel)]="specificMonth" matInput type="number" placeholder="Enter specific month">
    </mat-form-field>
    <button (click)="searchBySpecificMonth()" mat-icon-button>
      <mat-icon>search</mat-icon>
    </button>

    <mat-form-field>
      <mat-label>Year</mat-label>
      <input [(ngModel)]="specificYear" matInput type="number" placeholder="Enter specific year">
    </mat-form-field>
    <button (click)="searchBySpecificYear()" mat-icon-button>
      <mat-icon>search</mat-icon>
    </button>
  </mat-card-content>
  <br>
  <p>Total incoming: {{this.total | async }}</p>
</mat-card>
<app-crud (create)="false" (read)="false" (update)="false"
          [data]="cashiers" [deleteAction]="false" [title]="title"></app-crud>
