<mat-card>
  <mat-card-content>
    <button mat-raised-button color="primary" class="form-field-spacing"
            (click)="filterByCurrentMonth()">
      Current month
    </button>
    <button mat-raised-button color="primary" class="form-field-spacing"
            (click)="filterByCurrentYear()">
      Current year
    </button>
    <button mat-raised-button color="primary" class="form-field-spacing"
            (click)="readAll()">
      All
    </button>
    <br>
  </mat-card-content>

  <mat-label><strong>Filters: </strong></mat-label>
  <mat-card-content>
    <mat-form-field>
      <mat-label>Month</mat-label>
      <mat-select [(ngModel)]="months[currentMonth]" [disabled]="!monthFiltering">
        <mat-option *ngFor="let month of months; let i = index" [value]=month (click)="searchCashierClosures()">
          {{ month }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-checkbox [(ngModel)]="monthFiltering"></mat-checkbox>
    <mat-form-field>
      <mat-label>Year</mat-label>
      <mat-select [(ngModel)]="currentYear" [disabled]="!yearFiltering">
        <mat-option *ngFor="let year of generateYearList()" [value]=year (click)="searchCashierClosures()">
          {{ year }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-checkbox [(ngModel)]="yearFiltering"></mat-checkbox>
  </mat-card-content>
  <br>
  <p>Total incoming: {{this.total | async }}</p>
</mat-card>
<app-crud (create)="false" (read)="false" (update)="false"
          [data]="cashiers" [deleteAction]="false" [title]="title"></app-crud>
