<mat-card>
  <mat-card-title>
      <mat-icon>search</mat-icon>
      Filters
  </mat-card-title>
  <mat-card-content>
      <app-filter-input [(value)]="rgpdFilter.userMobile" title="User Mobile"></app-filter-input>
      <app-filter-input [(value)]="rgpdFilter.userName" title="User Name"></app-filter-input>
      <button (click)="search()" mat-stroked-button>
          <mat-icon>search</mat-icon>
          Find
      </button>
  </mat-card-content>
</mat-card>

<app-crud
  [title]="title"
  [data]="filteredRgpds$"
  [printAction]="true"
  [deleteAction]="false"
  (create)="create()"
  (read)="read($event)"
  (update)="update($event)"
  (print)="print($event)"
></app-crud>
