<h2 mat-dialog-title>{{title}}</h2>
<mat-dialog-content>
  <mat-form-field class="full-width">
    <mat-label>Reference</mat-label>
    <input [(ngModel)]="offer.reference" id="reference" matInput required type="text"/>
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>Description</mat-label>
    <input [(ngModel)]="offer.description" matInput required type="text"/>
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>Creation Date</mat-label>
    <input [(ngModel)]="offer.creationDate" matInput required type="date">
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>Expiry Date</mat-label>
    <input [(ngModel)]="offer.expiryDate" matInput required type="date">
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>Discount</mat-label>
    <input [(ngModel)]="offer.discount" matInput required type="number">
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>Articles barcode (Comma-separated)</mat-label>
    <textarea [(ngModel)]="articleBarcodes" matInput required></textarea>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button cdkFocusInitial mat-dialog-close mat-raised-button>Close</button>
  <button (click)="create()" *ngIf="isCreate()" [disabled]="invalid()" color="primary" mat-raised-button>Create</button>
  <button (click)="update()" *ngIf="!isCreate()" [disabled]="invalid()" color="primary" mat-raised-button>Update</button>
</mat-dialog-actions>
