<h2 mat-dialog-title>Total purchase: {{ totalPurchase | currency:'EUR':'symbol' }}
  @if (unCommitted()) {
    <span> - Total Pay: {{ totalCommitted() | currency:'EUR':'symbol' }}</span>
  }
</h2>
<mat-dialog-content>
  @if (warning()) {
    <mat-icon color="warn">report_problem</mat-icon> Uncommit articles & phone not registered
  }
  <mat-form-field>
    <input #mobile [readonly]="managedMobile()" matInput placeholder="Mobile" type="number"/>
    <ng-container *ngIf="managedMobile(); else elseBlock">
      <button (click)="resetMobile()" mat-icon-button matSuffix>
        <mat-icon color="warn">close</mat-icon>
      </button>
    </ng-container>
    <ng-template #elseBlock>
      <button (click)="searchUser(mobile.value)" mat-icon-button matSuffix>
        <mat-icon color="warn">search</mat-icon>
      </button>
    </ng-template>
  </mat-form-field>
  <mat-form-field>
    <input [(ngModel)]="ticketCreation.cash" matInput placeholder="Cash" type="number"/>
    <button (click)="fillCash()" mat-icon-button matSuffix>
      <mat-icon color="warn">euro_symbol</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field>
    <input [(ngModel)]="ticketCreation.card" matInput placeholder="Card" type="number"/>
    <button (click)="fillCard()" aria-label="Card" mat-icon-button matSuffix>
      <mat-icon color="warn">credit_card</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field>
    <input [(ngModel)]="ticketCreation.voucher" [disabled]="true" matInput placeholder="Voucher" type="number"/>
    <button (click)="consumeVoucher()" aria-label="Voucher" mat-icon-button matSuffix>
      <mat-icon color="warn">local_offer</mat-icon>
    </button>
  </mat-form-field>
  <mat-checkbox [(ngModel)]="requestedInvoice" [disabled]="invalidInvoice()">
    <span> Create Invoice</span>
  </mat-checkbox>
  <mat-checkbox [(ngModel)]="requestedGiftTicket" [disabled]="true">
    <span>Create Gift Ticket</span>
  </mat-checkbox>
  <mat-checkbox [(ngModel)]="requestedDataProtectionAct" [disabled]="true">
    <span>Data Protection Act</span>
  </mat-checkbox>
  <div *ngIf="!invalidCheckOut()&&returnedCash()>0" class="mat-raised-button mat-primary"> Cash Return:
    {{ returnedCash() | currency:'EUR':'symbol' }}
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button [mat-dialog-close]="false" mat-raised-button>Cancel</button>
  <button (click)="pay()" [disabled]="invalidCheckOut()" color="accent" mat-raised-button>Pay
    <span *ngIf="invalidCheckOut()" class="mat-suffix">( => {{ totalCommitted() }})</span>
  </button>
</mat-dialog-actions>
