.form-field-spacing {
  margin-right: 20px;
}

.custom-close-button .mat-button {
  justify-content: flex-end;
  background-color: red;
  color: white;
}

.mat-cell, .mat-header-cell {
  padding-left: 16px;
  padding-right: 16px;
}

.vat-result {
  margin-bottom: 24px;
}

.mat-column-taxRate {
  font-weight: bold;
}

mat-dialog-content {
  margin-bottom: 16px;
}

.custom-close-button {
  margin-top: 16px;
}







