<mat-card>
  <mat-card-content>
    <form #vatForm="ngForm">
      <div class="title-container">
        <mat-card-title>Quarter VAT Management:</mat-card-title>
      </div>

      <mat-form-field class="form-field-spacing">
        <mat-label>Year</mat-label>
        <mat-select [(ngModel)]="selectedYear" name="year" required>
          <mat-option *ngFor="let year of yearRange" [value]="year">{{ year }}</mat-option>
        </mat-select>
        <mat-error *ngIf="isFieldRequiredAndTouched('year', vatForm)">
          Year is required
        </mat-error>
      </mat-form-field>


      <mat-form-field class="form-field-spacing">
        <mat-label>Quarter</mat-label>
        <mat-select [(ngModel)]="selectedQuarter" name="quarter" required>
          <mat-option value="1">Q1</mat-option>
          <mat-option value="2">Q2</mat-option>
          <mat-option value="3">Q3</mat-option>
          <mat-option value="4">Q4</mat-option>
        </mat-select>
        <mat-error *ngIf="isFieldRequiredAndTouched('quarter', vatForm)">
          Quarter is required
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" [disabled]="vatForm.invalid"
              class="form-field-spacing">Calculate
        Quarter VAT
      </button>
    </form>


  </mat-card-content>
</mat-card>
