.form-field-spacing {
  margin-right: 20px;
}

.title-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.mat-column-taxRate,
.mat-column-baseTax,
.mat-column-valueTax {
  padding-left: 20px;
  padding-right: 20px;
}


