<mat-card class="filter-card">
    <mat-card-title>
        <mat-icon>local_offer</mat-icon>
        <span>Tag Management</span>
    </mat-card-title>
    <mat-card-content>
        <div class="filters-container">
            <app-filter-input [(value)]="tagSearch.name" title="Name"></app-filter-input>
            <app-filter-input [(value)]="tagSearch.group" title="Group"></app-filter-input>
            <app-filter-input [(value)]="tagSearch.description" title="Description"></app-filter-input>
            <button (click)="search()" mat-raised-button color="primary">
                <mat-icon>search</mat-icon>
                Search
            </button>
        </div>
    </mat-card-content>
</mat-card>

<mat-card class="table-card">
    <mat-card-content>
        <div class="table-container mat-elevation-z8">
            <div class="table-header">
                <button mat-raised-button color="primary" (click)="create()">
                    <mat-icon>add</mat-icon>
                    New Tag
                </button>
            </div>
            
            <table mat-table [dataSource]="tags$ | async" class="mat-elevation-z8">
                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let tag"> {{tag.name}} </td>
                </ng-container>

                <!-- Group Column -->
                <ng-container matColumnDef="group">
                    <th mat-header-cell *matHeaderCellDef> Group </th>
                    <td mat-cell *matCellDef="let tag"> {{tag.group}} </td>
                </ng-container>

                <!-- Description Column -->
                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef> Description </th>
                    <td mat-cell *matCellDef="let tag"> {{tag.description}} </td>
                </ng-container>

                <!-- Actions Column -->
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> Actions </th>
                    <td mat-cell *matCellDef="let tag">
                        <button mat-icon-button color="primary" (click)="read(tag)" matTooltip="View">
                            <mat-icon>visibility</mat-icon>
                        </button>
                        <button mat-icon-button color="accent" (click)="update(tag)" matTooltip="Edit">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button color="warn" (click)="delete(tag)" matTooltip="Delete">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                          showFirstLastButtons
                          aria-label="Select page of tags">
            </mat-paginator>
        </div>
    </mat-card-content>
</mat-card>